@charset "UTF-8";
/*
* Starter - HTML5 Template
* File Description: This file contain all the site styles.
* 
* Author: Themeum
* 
* Website: http://www.themeum.com/
* 
* Support: support@themeum.com
* 
* This template has been purchased at http://www.themeum.com/
*/

/*
* TABLE OF CONTENT
*
*/

a:hover{
	text-decoration: none;
}

.btn{
	text-transform: uppercase;
	border-width: 0 0 3px !important;
	border-style: solid;
	border-radius: 6px;
}

/*=================================
*======= 		BLOG	 ========
*===============================*/

body{
	background: #fff;
	font-size: 16px;
	line-height: 24px;
	font-weight: 300;
	color: #222;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Raleway";
    	font-weight: 700 !important;
    	color: #555555 !important;	
}

h1{
	font-weight: 300;
}

h3{
	font-size: 20px;
}




/* Dark Background */
#service-2.dark-bg,
#clients.dark-bg{
	color: #fff;
	color: rgba(255,255,255,.8);
}

#service-2.dark-bg h2,
#clients.dark-bg h2,
.service-box-2 h3{
	color: rgba(255,255,255,.8);
}




#home-3{
	padding: 0;
}

.title-area{

	margin-bottom: 20px;
}

.title-area h1.title{
	margin-top: 0;
}

.title-area .subtitle{
	display: inline-block;
	font-size: 20px;
	line-height: 28px;
	max-width: 900px
}
/*=================================
*======= Our Services ========
*===============================*/
#our-services-container strong{	
	  font-size: 19px;
  margin-left: -30px;
}
#our-services-container ul li{
	color: #555555;
	font-size: 16px;
	  line-height: 28px;
}

.management {
  position: relative;
  float: left;
}
.leadership {
  position: relative;
  float: left;
}
.continuous {
  position: relative;
  float: left;
}
/*=================================
*======= Our Experience ========
*===============================*/
#our-experience-container strong{
	font-size: 24px;
}
#our-experience-container ul{
	padding-left: 30px;
}
#our-experience-container ul li{
	list-style: none;
	color: #fff;
	font-size: 20px;
	line-height: 35px;
	list-style-image: url(../images/arrow.png);
}
#our-experience-container ul li:first-child {
  list-style-image: none;
}
.bus-content {
  position: relative;
  float: left;
}
.ind-content {
  position: relative;
  float: left;
}

/*=================================
*======= NAVIGATION ========
*===============================*/
#navigation .navbar-brand{
	text-decoration: none;
	color: #34495e;
}

#navigation .navbar-brand:hover{
	text-decoration: none;
}

.navbar-brand .icon-comments{
	font-size: 34px;
	vertical-align: top;
}

.navbar-brand span{
	display: inline-block;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 36px;
	line-height: 32px;
	margin-left: 5px;
	vertical-align: bottom;
}

#navigation .navbar-nav{
	float: right;
}

#navigation .navbar-nav > li > a{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: normal;
	padding-top:36px;
	padding-bottom: 36px;
}

.navbar-collapse {
	max-height: 220px;
}


#carousel-main .carousel-caption{
	left: auto;
	right: auto;
	width: 100%;
	text-align: left;
	z-index: 5;
}

#carousel-main .carousel-inner>.item>img{
		margin: 0 auto;
	}

#carousel-main .carousel-caption h2{
	font-size: 72px;
	font-weight: 500;
	text-shadow:none;
	color:#fff;
	text-shadow: 1px 1px 1px black;
}

#carousel-main .carousel-caption .lead{
	font-size: 22px;
	margin-bottom: 50px;
	font-weight: normal
}

#carousel-main .carousel-control{
	top: 50%;
	width: 40px;
	height: 40px;
	background:rgba(0,0,0,.6);
	opacity: .9;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2);
	border-radius: 3px;
	z-index: 6;
}

#carousel-main .carousel-control i {
	line-height: 40px;
}

@keyframes bounceInUp {
	0% {
		opacity: 0;
		transform: translateY(2000px);
	}

	60% {
		opacity: 1;
		transform: translateY(-30px);
	}

	80% {
		transform: translateY(10px);
	}

	100% {
		transform: translateY(0);
	}
}

#carousel-main .active .bounceInUp {
	-webkit-animation-name: bounceInUp;
	-moz-animation-name: bounceInUp;
	-o-animation-name: bounceInUp;
	animation-name: bounceInUp;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-delay:.4s;
	-moz-animation-delay:.4s;
	-ms-animation-delay:.4s;
	-o-animation-delay:.4s;
	animation-delay:.4s;
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateY(30px);
	}

	80% {
		-webkit-transform: translateY(-10px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes bounceInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		-moz-transform: translateY(30px);
	}

	80% {
		-moz-transform: translateY(-10px);
	}

	100% {
		-moz-transform: translateY(0);
	}
}

@-o-keyframes bounceInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		-o-transform: translateY(30px);
	}

	80% {
		-o-transform: translateY(-10px);
	}

	100% {
		-o-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		transform: translateY(-2000px);
	}

	60% {
		opacity: 1;
		transform: translateY(30px);
	}

	80% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

#carousel-main .active .bounceInDown {
	-webkit-animation-name: bounceInDown;
	-moz-animation-name: bounceInDown;
	-o-animation-name: bounceInDown;
	animation-name: bounceInDown;
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-delay:.4s;
	-moz-animation-delay:.4s;
	-ms-animation-delay:.4s;
	-o-animation-delay:.4s;
	animation-delay:.4s;
}

@-webkit-keyframes slideInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		}	100% {
			-webkit-transform: translateX(0);
		}
	}

	@-moz-keyframes slideInLeft {
		0% {
			opacity: 0;
			-moz-transform: translateX(-2000px);
		}

		100% {
			-moz-transform: translateX(0);
		}
	}

	@-o-keyframes slideInLeft {
		0% {
			opacity: 0;
			-o-transform: translateX(-2000px);
		}

		100% {
			-o-transform: translateX(0);
		}
	}

	@keyframes slideInLeft {
		0% {
			opacity: 0;
			transform: translateX(-2000px);
		}

		100% {
			transform: translateX(0);
		}
	}


	#carousel-main .active .slideInLeft {
		-webkit-animation-name: slideInLeft;
		-moz-animation-name: slideInLeft;
		-o-animation-name: slideInLeft;
		animation-name: slideInLeft;
		-webkit-animation-fill-mode:both;
		-moz-animation-fill-mode:both;
		-ms-animation-fill-mode:both;
		-o-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-duration:1s;
		-moz-animation-duration:1s;
		-ms-animation-duration:1s;
		-o-animation-duration:1s;
		animation-duration:1s;
		-webkit-animation-delay:.3s;
		-moz-animation-delay:.3s;
		-ms-animation-delay:.3s;
		-o-animation-delay:.3s;
		animation-delay:.3s;
	}

	@-webkit-keyframes slideInRight {
		0% {
			opacity: 0;
			-webkit-transform: translateX(2000px);
		}

		100% {
			-webkit-transform: translateX(0);
		}
	}

	@-moz-keyframes slideInRight {
		0% {
			opacity: 0;
			-moz-transform: translateX(2000px);
		}

		100% {
			-moz-transform: translateX(0);
		}
	}

	@-o-keyframes slideInRight {
		0% {
			opacity: 0;
			-o-transform: translateX(2000px);
		}

		100% {
			-o-transform: translateX(0);
		}
	}

	@keyframes slideInRight {
		0% {
			opacity: 0;
			transform: translateX(2000px);
		}

		100% {
			transform: translateX(0);
		}
	}

	#carousel-main .active .slideInRight {
		-webkit-animation-name: slideInRight;
		-moz-animation-name: slideInRight;
		-o-animation-name: slideInRight;
		animation-name: slideInRight;
		-webkit-animation-fill-mode:both;
		-moz-animation-fill-mode:both;
		-ms-animation-fill-mode:both;
		-o-animation-fill-mode:both;
		animation-fill-mode:both;
		-webkit-animation-duration:1s;
		-moz-animation-duration:1s;
		-ms-animation-duration:1s;
		-o-animation-duration:1s;
		animation-duration:1s;
		-webkit-animation-delay:.4s;
		-moz-animation-delay:.4s;
		-ms-animation-delay:.4s;
		-o-animation-delay:.4s;
		animation-delay:.4s;
	}




	#carousel-main .carousel-control.left{
		left: 30px;
	}

	#carousel-main .carousel-control.right{
		right: 30px;
	}

	#carousel-main .carousel-control .icon-prev,
	#carousel-main .carousel-control .icon-next{
		font-size: 36px;
		margin-top: -14px;
	}

	#carousel-main .carousel-control .icon-next{
		margin-right: -14px;
	}

/*=================================
*======= CALL ACTION ============
*===============================*/

#call-to-action h2{
	margin: 5px 0 0;
}

/*=================================
*======= COMPANY =================
*===============================*/

.feature-box{
	overflow: hidden;
	margin: 20px 0;
}

.feature-box-1{
	margin-right: 20px;
}

.feature-box-1 span{
	background: #82a12d;
	color: #fff;
	display: inline-block;
	width: 55px;
	height: 55px;
	text-align: center;
	border: 0 none;
	border-radius: 50%;
}

.feature-box-1 .icon-custom-style{
	font-size: 23px;
	line-height: 55px;
}

.feature-box-2{
	overflow: hidden;
}

.feature-box-2 h3{
	margin-top: 0;
}


.feature-box-1.color-2 span{
	background: #f06028;
}

.feature-box-1.color-3 span{
	background: #37c9e8;
}

.feature-box-1.color-4 span{
	background: #5d7289;
}

.feature-box-1.color-5 span{
	background: #b955d6;
}

.feature-box-1.color-6 span{
	background: #74b8e7;
}

.feature-box-1.color-7 span{
	background: #899bde;
}

.feature-box-1.color-8 span{
	background: #5dbc61;
}

/*=================================
*======= SERVICE =================
*===============================*/

#service{
	background: #f6f6f6;
	height: auto;
	width: auto;
	padding: 70px 0 65px;
	position: relative;
}

.service-box{
	overflow: hidden;
	margin-top: 40px;
	margin-bottom: 20px;
}

.service-box-1{
	margin-right: 20px;
}

.service-box-1 span{
	background: #006527;
	color: white;
	display: inline-block;
	height: 45px;
	line-height: 45px;
	width: 45px;
	text-align: center;
	border-radius: 3px;
}

.service-box-1 .icon-custom-style{
	line-height: 45px;
	font-size: 23px;
}

.service-box-2{
	overflow: hidden;
}

.service-box-2 h3{
	margin-top: 0;
}

/*=================================
*======= WORK =================
*===============================*/

#portfolio *{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

#portfolio.page-wrapper{
	padding-bottom: 0;
}

.portfolio{
	margin-top: 60px;
}

.portfolio>div{
	padding-left: 0;
	padding-right: 0;
}

.portfolio-item .overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0,0,0,.5);
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity 400ms;
}

.portfolio-item:hover .overlay{
	opacity: 1;
}

.portfolio-item a.btn-preview{
	background: #5cb85c;
	border-radius: 100%;
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	font-size: 18px;
	color: #fff;
	-webkit-transition: margin-top 400ms;
}

.portfolio-item:hover a.btn-preview{
	margin-top: -20px;
}

.portfolio-item a.btn-preview:hover{
	background: #47a447;
}

.pp_social {
	display: none;
}


/*=================================
*=========== CAREER =============
*===============================*/


#team-carousel{
	margin-top: 50px;
}


#team-carousel .carousel-control{
	background: transparent;
	width: 20px;
	height: 60px;
	opacity: .6;
	text-shadow:none;
}

#team-carousel .carousel-control i{
	width: 20px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: rgba(148, 148, 148, 0.61);
	-webkit-transition: 500ms;
	-moz-transition: 500ms;
	opacity: .9;
}

#team-carousel .carousel-control i:hover{
	background: #34495E;
}

#team-carousel .carousel-control.left i{
	border-radius: 3px 0 0 3px;
}

#team-carousel .carousel-control.right i{
	border-radius: 0 3px 3px 0;
}

#team-carousel .carousel-control.left{
	background: transparent;
	left: -20px;
	top: 40%;
}

#team-carousel .carousel-control.right{
	background: transparent;
	right: -20px;
	top: 40%;
}

#team-carousel .carousel-control .icon-angle-left,
#team-carousel .carousel-control .icon-angle-right{
	font-size: 60px;
	line-height: 60px;
	display: inline-block;
	margin:0;
	padding: 0;
	width: auto;
	height: auto;
	position: relative;
	top: -3px;
	left: auto;
	color: #8a8a8a;
	text-shadow:none;
}


.team-box{
	overflow: hidden;
	text-align: center;
	background: #006527;
	-webkit-transition: 800ms;
}

.team-image img{
	width: 100% !important;
}

.team-box:hover {

}

.team-box:hover ul.social li a {
	color:#fff;
}

.team-box:hover .team-image img {
	opacity: .6;
}


.team-desc{
	padding: 15px;
	color:#ccc;
}

.team-box ul.social{
	list-style: none;
	padding: 0;
	margin: 0;
	display:none;
}

.team-box ul.social li{
	display: inline-block;
	margin: 0 5px;
}

.team-box ul.social li a {

}



/*=================================
*=========== COMPANY =============
*===============================*/

#company .page-content .feature-box{
	-webkit-transition: opacity 1000ms;
	cursor: pointer;
}

#company .page-content:hover .feature-box{
	opacity: .2;
}

#company .page-content:hover .feature-box:hover{
	opacity: 1;
	-webkit-transition: opacity 800ms;
}




/*=================================
*=========== CLIENTS =============
*===============================*/

.clients{
	margin: 0 auto;
	max-width: 800px;
}


/*=================================
*=========== CLIENTS =============
*===============================*/

#footer{
	background: #34495e;
	position: relative;
	width: 100%;
	height: auto;
	padding: 70px 0 35px;
	color: #fff;
}

.widget-box{
	margin-bottom: 40px;
}

.wgt-title{
	font-size: 20px;
	margin-top: 0px;
}

.widgets-desc{
	overflow: hidden;
}

.social-icon{
	display: inline-block;
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-size: 0px;
	margin-top: 10px;
}

.social-icon li{
	display: inline-block;
	background: #2c3c4c;
	font-size: 14px;
	height: 32px;
	width: 32px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.1);
	margin-left: 3px;
	margin-right: 4px;
	vertical-align: text-bottom;
	transition:background .4s ease-in-out 0s;
}

.social-icon li:first-child{
	margin-left: 1px;
}

.social-icon li:last-child{
	margin-right: 0px;
}

.social-icon li a{
	display: block;
	text-align: center;
	color: #fff;
	text-decoration: none;
}

.social-icon li a .sl-icon{
	font-size: 18px;
	line-height: 32px;
}

.social-icon li:hover{
	background: #23313e;
}

.latest-blog{
	padding-top: 5px;
}

.latest-blog h5{
	font-size: 15px;
	margin-top: 0px;
}

.latest-blog small{
	color: #b3b8be;
}

.photo-gallery ul{
	margin: 0px;
	padding: 0px;
	margin-top: 5px;
	list-style: none;
}

.photo-gallery ul li{
	float: left;
	margin-right: 7px;
	margin-bottom: 7px;
	width: 60px;
}

.photo-gallery ul li:nth-child(4n){
	margin-right: 0px;
}

.subscribe{
	margin-bottom: 10px;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2);
}

.subscribe input{
	border-radius: 0;
	font-size: 14px;
}

.subscribe input:focus{
	box-shadow: none;
	border: 1px solid #CCCCCC;
}

.subscribe button, .subscribe button:hover{
	color: #fff;
	background: #ce4028;
	border: 1px solid #ce4028;
	border-radius: 0;
}
@media (max-width: 1024px) {
	#our-services-container strong {
		font-size: 16px;
		margin-left: -20px;
	}
	#our-services ul {
	color: #555555;
	padding-left: 15px;
	}
	#our-services-container ul li {
	  font-size: 15px! important;
	}
}

@media (min-width: 768px) and (max-width: 960px){
	#navigation .navbar-nav > li > a {
		padding: 25px 14px !important;
	}
	#carousel-main .carousel-caption {
		bottom: 20%;
	}

	#team-carousel .carousel-control.left{
		left: 0;
	}

	#team-carousel .carousel-control.right{
		right: 0;
	}
}

@media (max-width: 767px) {
	#navigation .navbar-nav{
		float: none;
	}

	#navigation.navbar {
		padding: 10px 0;
	}

	#navigation .navbar-brand{
		padding-top: 3px;
		padding-bottom: 0px;
	}

	#navigation .navbar-nav > li > a {
		padding: 10px 25px !important;
	}

	#slider{
		margin-top: 50px;
	}

	#carousel-main .carousel-caption{
		bottom: 16%;
		text-align: center;
	}



	#carousel-main .carousel-caption h2 {
		font-size: 48px;
		font-weight: 300;
	}

	#carousel-main .carousel-caption .lead {
		margin-bottom: 30px;
	}

	#team-carousel .carousel-control.left{
		left: 0;
	}

	#team-carousel .carousel-control.right{
		right: 0;
	}
}

@media(max-width: 479px){

	#navigation .navbar-brand {
		margin-top: 5px;
	}

	#carousel-main .carousel-caption .btn {
		display: none;
	}

	#carousel-main .carousel-caption h2 {
		font-size: 32px;
	}

	#carousel-main .carousel-caption .lead {
		margin-bottom: -20px;
	}

	#footer {
		text-align: center;
		font-size: 13px;
	}

	.post-content.media .pull-left {
		float: none !important;
		margin-bottom: 40px;
		border-right:none !important;
	}
	.osc-img {
	  text-align: left;
	  width: 100%;
	}
	#our-services {
	padding: 120px 15px! important;
	}
}
