nav.zo2-menu .navbar-nav > .open >a:hover {
  background: #75A4D2;
}
nav.zo2-menu .navbar-nav ul.mega-nav li a:hover {
  color: #75A4D2 !important;
}
nav.zo2-menu .navbar-nav ul.mega-nav li.active a {
  color: #75A4D2 !important;
}
.navbar-default .navbar-nav>.active>a,
nav.zo2-menu .navbar-nav > .open >a:hover {
  background: #75A4D2 !important;
}
#features .i-hexagon2 {
  color: #E33143;
  transition: all 0.2s linear 0s;
}
.homepage #blog .blog-featured .items-leading > div h2 a:hover {
  color: #75A4D2;
}
#right .main-menu button {
  background: #E33143;
}
.categories-list .item-title a {
  color: #75A4D2;
}
.readmore {
  background: #75A4D2;
}
.zo2-pagination ul > li.active > span {
  background: #75A4D2;
  border-color: #E33143;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background: #75A4D2;
  border-color: #E33143;
  color: #ffffff;
}
.dropdown-toggle:hover,
.dropdown-toggle:active,
.dropdown-toggle:focus {
  color: #75A4D2;
}
.btn-primary,
.btn {
  background: #75A4D2;
  border-color: #E33143;
}
.btn-group .btn {
  background: none;
  border-color: #ffffff;
}
.input-group-btn>.btn {
  background: #75A4D2;
  border-color: #E33143;
}
#gototop {
  background: #75A4D2;
}
a {
  color: #75A4D2;
}
nav.zo2-menu .navbar-nav > .open a {
  color: #75A4D2;
}
nav.zo2-menu .navbar-nav > .open a:hover,
nav.zo2-menu .navbar-nav > .open a:focus {
  color: #75A4D2;
}
nav.zo2-menu .navbar-nav .active a {
  color: #75A4D2;
}
nav.zo2-menu .navbar-nav .active a:hover,
nav.zo2-menu .navbar-nav .active a:focus {
  color: #75A4D2;
}
nav.zo2-menu .navbar-nav ul.mega-nav li a:hover,
nav.zo2-menu .navbar-nav ul.mega-nav li a:active,
nav.zo2-menu .navbar-nav ul.mega-nav li a:focus {
  color: #75A4D2;
}
nav.zo2-menu .navbar-nav ul.mega-nav li.active a {
  color: #75A4D2;
}
#zo2-features .top-features .zo2-feature .zo2-circle {
  color: #E33143;
}
#zo2-features .top-features .zo2-feature .zo2-circle:before {
  box-shadow: 0 0 0 3px #E33143;
}
#zo2-features .top-features:hover .zo2-circle {
  background-color: #E33143;
}
.box-color {
  background: #E33143;
}
@media (max-width: 767px) {
  body nav.zo2-menu .navbar-toggle:hover .icon-bar {
    background-color: #E33143;
  }
}
.btn-success {
  background-color: #E33143;
}
