/* anchor */
.home a,
#navigation .navbar-nav li.current-menu-item a,
#navigation .navbar-nav > li.current-menu-parent > a,
.team-box ul.social li a{
  color: #fff;
  font-weight:bold;
}

.home a:hover{
  color:#fff;
}

.team-box:hover {
  background: #006527;
}

.team-box:hover  .desc{
  color: #ccc;
}

.team-box:hover  .desc a{
  color: #fff;
  font-weight: bold;
}

.team-box .name{
  display:none;
}