.zo2-megamenu .mega-group-content:before,

.zo2-megamenu .mega-group-content:after {

  display: table;

  content: "";

  line-height: 0;

}

.zo2-megamenu .row-fluid {

  overflow: visible !important;

}

.zo2-megamenu .mega-group:before,

.zo2-megamenu .mega-group:after {

  display: table;

  content: "";

  line-height: 0;

}

.zo2-megamenu .mega-inner:before,

.zo2-megamenu .mega-inner:after {

  display: table;

  content: "";

  line-height: 0;

}

.zo2-megamenu .nav [class^="icon-"],

.zo2-megamenu .nav [class*=" icon-"] {

  margin-right: 5px;

}

.zo2-megamenu .mega-group >.mega-nav,

.zo2-megamenu .dropdown-menu .mega-group >.mega-nav {

  margin-left: -5px;

  margin-right: -5px;

}

.zo2-megamenu .mega-nav,

.zo2-megamenu .dropdown-menu .mega-nav {

  margin: 0;

  padding: 0;

  list-style: none;

}

.zo2-megamenu .mega-nav .mega-group >.mega-group-title,

.zo2-megamenu .dropdown-menu .mega-nav .mega-group >.mega-group-title,

.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group >.mega-group-title {

  background: inherit;

  color: inherit;

  font-weight: bold;

  padding: 0;

  margin: 0;

}

.zo2-megamenu .nav .caret,

.zo2-megamenu .dropdown-submenu .caret,

.zo2-megamenu .mega-menu .caret {

  display: none;

}

.zo2-megamenu .mega-group-content:after {

  clear: both;

}

.zo2-megamenu .mega > .mega-dropdown-menu {

  min-width: 200px;

  display: none;

}

.zo2-megamenu .nav > .dropdown > .dropdown-toggle .caret {

  display: inline-block;

}

.zo2-megamenu .mega-align-center > .dropdown-menu {

  left: 50%;

  transform: translate(-50%);

  -webkit-transform: translate(-50%);

  -moz-transform: translate(-50%);

  -ms-transform: translate(-50%);

  -o-transform: translate(-50%);

}

.zo2-megamenu .zo2-module {

  margin-bottom: 10px;

}

.zo2-megamenu .zo2-module .module-ct {

  margin: 0;

  padding: 0;

}

.zo2-megamenu .zo2-module .module-title {

  margin-bottom: 0;

}

.zo2-megamenu .mega-group:after {

  clear: both;

}

.zo2-megamenu .row-fluid +div .row-fluid {

  padding-top: 10px;

  border-top: 1px solid #eeeeee;

}

.zo2-megamenu .mega-inner {

  padding: 10px;

  *zoom: 1;

}

.zo2-megamenu .mega-caption {

  display: block;

  white-space: nowrap;

}

.zo2-megamenu .dropdown-submenu.mega-align-right > .dropdown-menu {

  left: auto;

  right: 100%;

}

.zo2-megamenu .mega-nav .dropdown-submenu > a::after {

  margin-right: 5px;

}

.zo2-megamenu .dropdown-submenu.mega-align-left > .dropdown-menu {

  left: 100%;

}

.zo2-megamenu .mega-inner:after {

  clear: both;

}

.zo2-megamenu .mega-align-justify {

  position: static;

}

.zo2-megamenu .mega-align-justify > .dropdown-menu {

  left: 0;

  margin-left: 0;

  top: auto;

}

.zo2-megamenu .span12.mega-col-nav .mega-inner {

  padding: 5px;

}

.zo2-megamenu .mega-group {

  *zoom: 1;

}

.zo2-megamenu .mega-align-right > .dropdown-menu {

  left: auto;

  right: 0;

}

.zo2-megamenu .mega-align-left > .dropdown-menu {

  left: 0;

}

.zo2-megamenu .mega-group-content {

  margin: 0;

  padding: 0;

  *zoom: 1;

}

.zo2-megamenu .mega-group-content > .row-fluid > [class*="span"] > .mega-inner {

  padding: 0;

}

.zo2-megamenu .mega-nav >li a,

.zo2-megamenu .dropdown-menu .mega-nav >li a {

  white-space: normal;

}

.zo2-megamenu .mega-nav >li,

.zo2-megamenu .dropdown-menu .mega-nav >li {

  list-style: none;

  margin-left: 0;

}

.zo2-megamenu .mega.open >.mega-dropdown-menu,

.zo2-megamenu .mega.dropdown-submenu:hover >.mega-dropdown-menu {

  display: block;

}

.zo2-megamenu .mega-nav .mega-group >.mega-group-title:hover,

.zo2-megamenu .dropdown-menu .mega-nav .mega-group >.mega-group-title:hover,

.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group >.mega-group-title:hover,

.zo2-megamenu .mega-nav .mega-group >.mega-group-title:active,

.zo2-megamenu .dropdown-menu .mega-nav .mega-group >.mega-group-title:active,

.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group >.mega-group-title:active,

.zo2-megamenu .mega-nav .mega-group >.mega-group-title:focus,

.zo2-megamenu .dropdown-menu .mega-nav .mega-group >.mega-group-title:focus,

.zo2-megamenu .dropdown-menu .active .mega-nav .mega-group >.mega-group-title:focus {

  background: inherit;

  color: inherit;

}

.navbar-toggle .icon-bar {

  background-color: #222222;

}

@media (min-width: 768px) {

  .zo2-megamenu.animate.elastic .mega > .mega-dropdown-menu {

    transform: scale(0,1);

    transform-origin: 10% 0;

    -webkit-transform: scale(0,1);

    -webkit-transform-origin: 10% 0;

    -ms-transform: scale(0,1);

    -ms-transform-origin: 10% 0;

    -o-transform: scale(0,1);

    -o-transform-origin: 10% 0;

  }

  .zo2-megamenu.animate.elastic .mega.open > .mega-dropdown-menu {

    transform: scale(1,1);

    -webkit-transform: scale(1,1);

    -ms-transform: scale(1,1);

    -o-transform: scale(1,1);

  }

  .zo2-megamenu.animate.elastic .level0 > .mega > .mega-dropdown-menu {

    transform: scale(1,0);

    -webkit-transform: scale(1,0);

    -ms-transform: scale(1,0);

    -o-transform: scale(1,0);

  }

  .zo2-megamenu.animate.zoom .mega > .mega-dropdown-menu {

    transform: scale(0,0);

    transform-origin: 20% 20%;

    -webkit-transform: scale(0,0);

    -webkit-transform-origin: 20% 20%;

    -ms-transform: scale(0,0);

    -ms-transform-origin: 20% 20%;

    -o-transform: scale(0,0);

    -o-transform-origin: 20% 20%;

  }

  .zo2-megamenu.animate.zoom .mega.open > .mega-dropdown-menu {

    transform: scale(1,1);

    -webkit-transform: scale(1,1);

    -ms-transform: scale(1,1);

    -o-transform: scale(1,1);

  }

  .zo2-megamenu.animate .mega.hovering > .mega-dropdown-menu {

    display: block !important;

  }

  .zo2-megamenu.animate .mega > .mega-dropdown-menu {

    transition: all 400ms;

    -webkit-transition: all 400ms;

    -ms-transition: all 400ms;

    -o-transition: all 400ms;

    -webkit-backface-visibility: hidden;

    -moz-backface-visibility: hidden;

    -o-backface-visibility: hidden;

    backface-visibility: hidden;

    opacity: 0;

  }

  .zo2-megamenu.animate .mega.open >.mega-dropdown-menu,

  .zo2-megamenu.animate .mega.hovering.open >.mega-dropdown-menu {

    opacity: 1;

  }

  .zo2-megamenu.animate.slide .mega .mega > .mega-dropdown-menu {

    min-width: 0;

  }

  .zo2-megamenu.animate.slide .mega .mega > .mega-dropdown-menu > div {

    min-width: 200px;

    margin-top: 0;

    margin-left: -500px;

  }

  .zo2-megamenu.animate.slide .mega .mega.open > .mega-dropdown-menu > div {

    margin-left: 0;

  }

  .zo2-megamenu.animate.slide .mega > .mega-dropdown-menu > div {

    transition: all 400ms;

    -webkit-transition: all 400ms;

    -ms-transition: all 400ms;

    -o-transition: all 400ms;

    -webkit-backface-visibility: hidden;

    -moz-backface-visibility: hidden;

    -o-backface-visibility: hidden;

    backface-visibility: hidden;

    margin-top: -100%;

  }

  .zo2-megamenu.animate.slide .mega.open > .mega-dropdown-menu > div {

    margin-top: 0%;

  }

}

@media (max-width: 767px) {

  .zo2-megamenu .row-fluid,

  .zo2-megamenu .mega-dropdown-menu,

  .zo2-megamenu .row-fluid [class*="span"] {

    width: 100% !important;

    min-width: 100% !important;

    left: 0 !important;

    margin-left: 0 !important;

    transform: none !important;

    -webkit-transform: none !important;

    -moz-transform: none !important;

    -ms-transform: none !important;

    -o-transform: none !important;

  }

  .zo2-megamenu .row-fluid +div .row-fluid {

    padding-top: 10px;

    border-top: 1px solid #eeeeee;

  }

  .zo2-megamenu .mega-inner {

    padding: 10px 20px;

  }

  .zo2-megamenu .mega-caption {

    display: none !important;

  }

  .zo2-megamenu .hidden-collapse,

  .zo2-megamenu .always-show .caret,

  .zo2-megamenu .sub-hidden-collapse >.menu-child,

  .zo2-megamenu .sub-hidden-collapse .caret,

  .zo2-megamenu .sub-hidden-collapse >a:after,

  .zo2-megamenu .always-show .dropdown-submenu >a:after {

    display: none !important;

  }

}

.shortcode-items a {

  margin-bottom: 5px;

}

.embed-container {

  position: relative;

  padding-top: 30px;

  height: 0;

  overflow: hidden;

  max-width: 100%;

  height: auto;

}

.embed-container iframe,

.embed-container object,

.embed-container embed {

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

}

h3.accordion-head span {

  background: url("../images/plus-24px.png") repeat scroll 0 0 transparent;

}

h3.accordion-head span.active {

  background: url("../images/minus-24px.png") repeat scroll 0 0 transparent;

}

h3.accordion-header-title {

  font-size: 150%;

  margin-bottom: 25px;

}

ul.zt-accordion {

  list-style: none;

  margin-left: 0px;

}

ul.zt-accordion li {

  background: none;

  border-bottom: 1px solid #ECECEC;

  list-style: none outside none;

  margin-bottom: 15px;

  padding: 0 0 16px;

}

h3.accordion-head {

  padding: 0px 0px 0px 0px;

  line-height: 21px;

  cursor: pointer;

  margin-top: 3px;

}

div.accordion-content {

  overflow: hidden;

  padding: 10px 0 0;

}

span.accordion-head-image {

  width: 24px;

  height: 24px;

  float: left;

  margin-right: 13px;

  cursor: pointer;

  display: block;

}

div.accordion-head p {

  margin-bottom: 0px;

}

div.shortcode-block-quote-left {

  width: 33%;

  float: left;

  margin: 15px 20px 15px 20px;

  padding: 20px;

  border-left: 2px solid #ddd;

  font-size: 140%;

  font-family: Georgia, "Times New Roman", Times, serif;

  font-style: oblique;

}

div.shortcode-block-quote-right {

  width: 33%;

  float: right;

  margin: 15px 20px 15px 20px;

  padding: 20px;

  border-left: 2px solid #ddd;

  font-size: 140%;

  font-family: Georgia, "Times New Roman", Times, serif;

  font-style: oblique;

}

div.shortcode-block-quote-center {

  margin: 0px 20px 20px 20px;

  text-align: center;

  padding: 20px;

  border-left: 2px solid #ddd;

  font-size: 140%;

  font-family: Georgia, "Times New Roman", Times, serif;

  font-style: oblique;

}

a.zt-button.shortcode-large-button {

  margin-bottom: 20px;

  margin-right: 10px;

  padding: 0px 21px 0px 21px;

  height: 38px;

  line-height: 38px;

  font-size: 120%;

}

a.zt-button.shortcode-medium-button {

  margin-bottom: 20px;

  margin-right: 10px;

  padding: 0px 15px 0px 15px;

  height: 30px;

  line-height: 30px;

  font-size: 100%;

}

a.zt-button.shortcode-small-button {

  margin-bottom: 20px;

  margin-right: 10px;

  text-shadow: none;

  font-size: 95%;

}

a.zt-button {

  height: 26px;

  line-height: 26px;

  padding: 1px 12px 0px 12px;

  display: inline-block;

  background: url('../images/gradient-top4-32px.png') repeat-x;

  font-weight: bold;

  cursor: pointer;

  -webkit-border-radius: 3px;

  -moz-border-radius: 3px;

  border-radius: 3px;

}

a.zt-button:hover {

  background-image: url('../images/gradient-bottom4-32px.png');

}

.shortcode1-4 {

  float: left;

  margin-right: 2%;

  margin-bottom: 2%;

  width: 23%;

}

.shortcode1-3 {

  float: left;

  margin-right: 2%;

  width: 31.33%;

}

.shortcode1-2 {

  float: left;

  margin-right: 2%;

  width: 48%;

}

.shortcode2-3 {

  float: left;

  margin-right: 2%;

  width: 64.66%;

}

.shortcode3-4 {

  float: left;

  margin-right: 2%;

  width: 73%;

}

.shortcode1 {

  float: left;

  margin-right: 2%;

  width: 98%;

}

div.shortcode-dropcap {

  float: left;

  font-size: 200%;

  height: 35px;

  line-height: 35px;

  margin-bottom: 0;

  margin-right: 5px;

  margin-top: 15px;

  text-align: center;

  width: 35px;

}

div.shortcode-dropcap.circle {

  -moz-border-radius: 16px;

  -webkit-border-radius: 16px;

  border-radius: 16px;

}

div.shortcode-dropcap.square {

  border: 1px solid #ECECEC;

  padding: 2px;

  margin-top: 5px;

}

div.pp_default .pp_top,

div.pp_default .pp_top .pp_middle,

div.pp_default .pp_top .pp_left,

div.pp_default .pp_top .pp_right,

div.pp_default .pp_bottom,

div.pp_default .pp_bottom .pp_left,

div.pp_default .pp_bottom .pp_middle,

div.pp_default .pp_bottom .pp_right {

  height: 13px;

}

div.pp_default .pp_top .pp_left {

  background: url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat;

}

div.pp_default .pp_top .pp_middle {

  background: url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x;

}

div.pp_default .pp_top .pp_right {

  background: url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat;

}

div.pp_default .pp_content .ppt {

  color: #f8f8f8;

}

div.pp_default .pp_content_container .pp_left {

  background: url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;

  padding-left: 13px;

}

div.pp_default .pp_content_container .pp_right {

  background: url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;

  padding-right: 13px;

}

div.pp_default .pp_next:hover {

  background: url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;

  cursor: pointer;

}

div.pp_default .pp_previous:hover {

  background: url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;

  cursor: pointer;

}

div.pp_default .pp_expand {

  background: url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;

  cursor: pointer;

  height: 28px;

  width: 28px;

}

div.pp_default .pp_expand:hover {

  background: url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;

  cursor: pointer;

}

div.pp_default .pp_contract {

  background: url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;

  cursor: pointer;

  height: 28px;

  width: 28px;

}

div.pp_default .pp_contract:hover {

  background: url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;

  cursor: pointer;

}

div.pp_default .pp_close {

  background: url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;

  cursor: pointer;

  height: 30px;

  width: 30px;

}

div.pp_default .pp_gallery ul li a {

  background: url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;

  border: 1px solid #aaa;

}

div.pp_default .pp_social {

  margin-top: 7px;

}

div.pp_default .pp_gallery a.pp_arrow_previous,

div.pp_default .pp_gallery a.pp_arrow_next {

  left: auto;

  position: static;

}

div.pp_default .pp_nav .pp_play,

div.pp_default .pp_nav .pp_pause {

  background: url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;

  height: 30px;

  width: 30px;

}

div.pp_default .pp_nav .pp_pause {

  background-position: -51px -29px;

}

div.pp_default a.pp_arrow_previous,

div.pp_default a.pp_arrow_next {

  background: url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;

  height: 20px;

  margin: 4px 0 0;

  width: 20px;

}

div.pp_default a.pp_arrow_next {

  background-position: -82px -3px;

  left: 52px;

}

div.pp_default .pp_content_container .pp_details {

  margin-top: 5px;

}

div.pp_default .pp_nav {

  clear: none;

  height: 30px;

  position: relative;

  width: 110px;

}

div.pp_default .pp_nav .currentTextHolder {

  color: #999;

  font-family: Georgia;

  font-size: 95%;

  font-style: italic;

  left: 75px;

  line-height: 25px;

  margin: 0;

  padding: 0 0 0 10px;

  position: absolute;

  top: 2px;

}

div.pp_default .pp_close:hover,

div.pp_default .pp_nav .pp_play:hover,

div.pp_default .pp_nav .pp_pause:hover,

div.pp_default .pp_arrow_next:hover,

div.pp_default .pp_arrow_previous:hover {

  opacity: 0.7;

}

div.pp_default .pp_description {

  font-size: 95%;

  font-weight: 700;

  line-height: 14px;

  margin: 5px 50px 5px 0;

}

div.pp_default .pp_bottom .pp_left {

  background: url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat;

}

div.pp_default .pp_bottom .pp_middle {

  background: url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x;

}

div.pp_default .pp_bottom .pp_right {

  background: url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat;

}

div.pp_default .pp_loaderIcon {

  background: url(../images/prettyPhoto/default/loader.gif) center center no-repeat;

}

div.light_rounded .pp_top .pp_left {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat;

}

div.light_rounded .pp_top .pp_right {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat;

}

div.light_rounded .pp_next:hover {

  background: url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;

  cursor: pointer;

}

div.light_rounded .pp_previous:hover {

  background: url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;

  cursor: pointer;

}

div.light_rounded .pp_expand {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;

  cursor: pointer;

}

div.light_rounded .pp_expand:hover {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;

  cursor: pointer;

}

div.light_rounded .pp_contract {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;

  cursor: pointer;

}

div.light_rounded .pp_contract:hover {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;

  cursor: pointer;

}

div.light_rounded .pp_close {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;

  cursor: pointer;

  height: 22px;

  width: 75px;

}

div.light_rounded .pp_nav .pp_play {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;

  height: 15px;

  width: 14px;

}

div.light_rounded .pp_nav .pp_pause {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;

  height: 15px;

  width: 14px;

}

div.light_rounded .pp_arrow_previous {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat;

}

div.light_rounded .pp_arrow_next {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat;

}

div.light_rounded .pp_bottom .pp_left {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat;

}

div.light_rounded .pp_bottom .pp_right {

  background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat;

}

div.dark_rounded .pp_top .pp_left {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat;

}

div.dark_rounded .pp_top .pp_right {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat;

}

div.dark_rounded .pp_content_container .pp_left {

  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y;

}

div.dark_rounded .pp_content_container .pp_right {

  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y;

}

div.dark_rounded .pp_next:hover {

  background: url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;

  cursor: pointer;

}

div.dark_rounded .pp_previous:hover {

  background: url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;

  cursor: pointer;

}

div.dark_rounded .pp_expand {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;

  cursor: pointer;

}

div.dark_rounded .pp_expand:hover {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;

  cursor: pointer;

}

div.dark_rounded .pp_contract {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;

  cursor: pointer;

}

div.dark_rounded .pp_contract:hover {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;

  cursor: pointer;

}

div.dark_rounded .pp_close {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;

  cursor: pointer;

  height: 22px;

  width: 75px;

}

div.dark_rounded .pp_description {

  color: #fff;

  margin-right: 85px;

}

div.dark_rounded .pp_nav .pp_play {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;

  height: 15px;

  width: 14px;

}

div.dark_rounded .pp_nav .pp_pause {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;

  height: 15px;

  width: 14px;

}

div.dark_rounded .pp_arrow_previous {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat;

}

div.dark_rounded .pp_arrow_next {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat;

}

div.dark_rounded .pp_bottom .pp_left {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat;

}

div.dark_rounded .pp_bottom .pp_right {

  background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat;

}

div.dark_rounded .pp_loaderIcon {

  background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat;

}

div.dark_square .pp_left,

div.dark_square .pp_middle,

div.dark_square .pp_right,

div.dark_square .pp_content {

  background: #000;

}

div.dark_square .pp_description {

  color: #fff;

  margin: 0 85px 0 0;

}

div.dark_square .pp_loaderIcon {

  background: url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat;

}

div.dark_square .pp_expand {

  background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;

  cursor: pointer;

}

div.dark_square .pp_expand:hover {

  background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;

  cursor: pointer;

}

div.dark_square .pp_contract {

  background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;

  cursor: pointer;

}

div.dark_square .pp_contract:hover {

  background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;

  cursor: pointer;

}

div.dark_square .pp_close {

  background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;

  cursor: pointer;

  height: 22px;

  width: 75px;

}

div.dark_square .pp_nav {

  clear: none;

}

div.dark_square .pp_nav .pp_play {

  background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;

  height: 15px;

  width: 14px;

}

div.dark_square .pp_nav .pp_pause {

  background: url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;

  height: 15px;

  width: 14px;

}

div.dark_square .pp_arrow_previous {

  background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat;

}

div.dark_square .pp_arrow_next {

  background: url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat;

}

div.dark_square .pp_next:hover {

  background: url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;

  cursor: pointer;

}

div.dark_square .pp_previous:hover {

  background: url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;

  cursor: pointer;

}

div.light_square .pp_expand {

  background: url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;

  cursor: pointer;

}

div.light_square .pp_expand:hover {

  background: url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;

  cursor: pointer;

}

div.light_square .pp_contract {

  background: url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;

  cursor: pointer;

}

div.light_square .pp_contract:hover {

  background: url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;

  cursor: pointer;

}

div.light_square .pp_close {

  background: url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;

  cursor: pointer;

  height: 22px;

  width: 75px;

}

div.light_square .pp_nav .pp_play {

  background: url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;

  height: 15px;

  width: 14px;

}

div.light_square .pp_nav .pp_pause {

  background: url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;

  height: 15px;

  width: 14px;

}

div.light_square .pp_arrow_previous {

  background: url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat;

}

div.light_square .pp_arrow_next {

  background: url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat;

}

div.light_square .pp_next:hover {

  background: url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;

  cursor: pointer;

}

div.light_square .pp_previous:hover {

  background: url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;

  cursor: pointer;

}

div.facebook .pp_top .pp_left {

  background: url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat;

}

div.facebook .pp_top .pp_middle {

  background: url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x;

}

div.facebook .pp_top .pp_right {

  background: url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat;

}

div.facebook .pp_content_container .pp_left {

  background: url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y;

}

div.facebook .pp_content_container .pp_right {

  background: url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y;

}

div.facebook .pp_expand {

  background: url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;

  cursor: pointer;

}

div.facebook .pp_expand:hover {

  background: url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;

  cursor: pointer;

}

div.facebook .pp_contract {

  background: url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;

  cursor: pointer;

}

div.facebook .pp_contract:hover {

  background: url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;

  cursor: pointer;

}

div.facebook .pp_close {

  background: url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;

  cursor: pointer;

  height: 22px;

  width: 22px;

}

div.facebook .pp_description {

  margin: 0 37px 0 0;

}

div.facebook .pp_loaderIcon {

  background: url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat;

}

div.facebook .pp_arrow_previous {

  background: url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;

  height: 22px;

  margin-top: 0;

  width: 22px;

}

div.facebook .pp_arrow_previous.disabled {

  background-position: 0 -96px;

  cursor: default;

}

div.facebook .pp_arrow_next {

  background: url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;

  height: 22px;

  margin-top: 0;

  width: 22px;

}

div.facebook .pp_arrow_next.disabled {

  background-position: -32px -96px;

  cursor: default;

}

div.facebook .pp_nav {

  margin-top: 0;

}

div.facebook .pp_nav p {

  font-size: 130%;

  padding: 0 3px 0 4px;

}

div.facebook .pp_nav .pp_play {

  background: url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;

  height: 22px;

  width: 22px;

}

div.facebook .pp_nav .pp_pause {

  background: url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;

  height: 22px;

  width: 22px;

}

div.facebook .pp_next:hover {

  background: url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;

  cursor: pointer;

}

div.facebook .pp_previous:hover {

  background: url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;

  cursor: pointer;

}

div.facebook .pp_bottom .pp_left {

  background: url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat;

}

div.facebook .pp_bottom .pp_middle {

  background: url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x;

}

div.facebook .pp_bottom .pp_right {

  background: url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat;

}

div.pp_pic_holder a:focus {

  outline: none;

}

div.pp_overlay {

  background: #000;

  display: none;

  left: 0;

  position: absolute;

  top: 0;

  width: 100%;

  z-index: 9500;

}

div.pp_pic_holder {

  display: none;

  position: absolute;

  width: 100px;

  z-index: 10000;

}

.pp_content {

  height: 40px;

  min-width: 40px;

}

* html .pp_content {

  width: 40px;

}

.pp_content_container {

  position: relative;

  text-align: left;

  width: 100%;

}

.pp_content_container .pp_left {

  padding-left: 20px;

}

.pp_content_container .pp_right {

  padding-right: 20px;

}

.pp_content_container .pp_details {

  float: left;

  margin: 10px 0 2px;

}

.pp_description {

  display: none;

  margin: 0;

}

.pp_social {

  float: left;

  margin: 0;

}

.pp_social .facebook {

  float: left;

  margin-left: 5px;

  overflow: hidden;

  width: 55px;

}

.pp_social .twitter {

  float: left;

}

.pp_nav {

  clear: right;

  float: left;

  margin: 3px 10px 0 0;

}

.pp_nav p {

  float: left;

  margin: 2px 4px;

  white-space: nowrap;

}

.pp_nav .pp_play,

.pp_nav .pp_pause {

  float: left;

  margin-right: 4px;

  text-indent: -10000px;

}

a.pp_arrow_previous,

a.pp_arrow_next {

  display: block;

  float: left;

  height: 15px;

  margin-top: 3px;

  overflow: hidden;

  text-indent: -10000px;

  width: 14px;

}

.pp_hoverContainer {

  position: absolute;

  top: 0;

  width: 100%;

  z-index: 2000;

}

.pp_gallery {

  display: none;

  left: 50%;

  margin-top: -50px;

  position: absolute;

  z-index: 10000;

}

.pp_gallery div {

  float: left;

  overflow: hidden;

  position: relative;

}

.pp_gallery ul {

  float: left;

  height: 35px;

  margin: 0 0 0 5px;

  padding: 0;

  position: relative;

  white-space: nowrap;

}

.pp_gallery ul a {

  border: 1px rgba(0,0,0,0.5) solid;

  display: block;

  float: left;

  height: 33px;

  overflow: hidden;

}

.pp_gallery ul a img {

  border: 0;

}

.pp_gallery li {

  display: block;

  float: left;

  margin: 0 5px 0 0;

  padding: 0;

}

.pp_gallery li.default a {

  background: url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;

  display: block;

  height: 33px;

  width: 50px;

}

.pp_gallery .pp_arrow_previous,

.pp_gallery .pp_arrow_next {

  margin-top: 7px !important;

}

a.pp_next {

  background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;

  display: block;

  float: right;

  height: 100%;

  text-indent: -10000px;

  width: 49%;

}

a.pp_previous {

  background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;

  display: block;

  float: left;

  height: 100%;

  text-indent: -10000px;

  width: 49%;

}

a.pp_expand,

a.pp_contract {

  cursor: pointer;

  display: none;

  height: 20px;

  position: absolute;

  right: 30px;

  text-indent: -10000px;

  top: 10px;

  width: 20px;

  z-index: 20000;

}

a.pp_close {

  display: block;

  line-height: 22px;

  position: absolute;

  right: 0;

  text-indent: -10000px;

  top: 0;

}

.pp_loaderIcon {

  display: block;

  height: 24px;

  left: 50%;

  margin: -12px 0 0 -12px;

  position: absolute;

  top: 50%;

  width: 24px;

}

#pp_full_res {

  line-height: 1 !important;

}

#pp_full_res .pp_inline {

  text-align: left;

}

#pp_full_res .pp_inline p {

  margin: 0 0 15px;

}

div.ppt {

  color: #fff;

  display: none;

  font-size: 145%;

  margin: 0 0 5px 15px;

  z-index: 9999;

}

div.pp_default .pp_content,

div.light_rounded .pp_content {

  background-color: #fff;

}

div.pp_default #pp_full_res .pp_inline,

div.light_rounded .pp_content .ppt,

div.light_rounded #pp_full_res .pp_inline,

div.light_square .pp_content .ppt,

div.light_square #pp_full_res .pp_inline,

div.facebook .pp_content .ppt,

div.facebook #pp_full_res .pp_inline {

  color: #000;

}

div.pp_default .pp_gallery ul li a:hover,

div.pp_default .pp_gallery ul li.selected a,

.pp_gallery ul a:hover,

.pp_gallery li.selected a {

  border-color: #fff;

}

div.pp_default .pp_details,

div.light_rounded .pp_details,

div.dark_rounded .pp_details,

div.dark_square .pp_details,

div.light_square .pp_details,

div.facebook .pp_details {

  position: relative;

}

div.light_rounded .pp_top .pp_middle,

div.light_rounded .pp_content_container .pp_left,

div.light_rounded .pp_content_container .pp_right,

div.light_rounded .pp_bottom .pp_middle,

div.light_square .pp_left,

div.light_square .pp_middle,

div.light_square .pp_right,

div.light_square .pp_content,

div.facebook .pp_content {

  background: #fff;

}

div.light_rounded .pp_description,

div.light_square .pp_description {

  margin-right: 85px;

}

div.light_rounded .pp_gallery a.pp_arrow_previous,

div.light_rounded .pp_gallery a.pp_arrow_next,

div.dark_rounded .pp_gallery a.pp_arrow_previous,

div.dark_rounded .pp_gallery a.pp_arrow_next,

div.dark_square .pp_gallery a.pp_arrow_previous,

div.dark_square .pp_gallery a.pp_arrow_next,

div.light_square .pp_gallery a.pp_arrow_previous,

div.light_square .pp_gallery a.pp_arrow_next {

  margin-top: 12px !important;

}

div.light_rounded .pp_arrow_previous.disabled,

div.dark_rounded .pp_arrow_previous.disabled,

div.dark_square .pp_arrow_previous.disabled,

div.light_square .pp_arrow_previous.disabled {

  background-position: 0 -87px;

  cursor: default;

}

div.light_rounded .pp_arrow_next.disabled,

div.dark_rounded .pp_arrow_next.disabled,

div.dark_square .pp_arrow_next.disabled,

div.light_square .pp_arrow_next.disabled {

  background-position: -22px -87px;

  cursor: default;

}

div.light_rounded .pp_loaderIcon,

div.light_square .pp_loaderIcon {

  background: url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat;

}

div.dark_rounded .pp_top .pp_middle,

div.dark_rounded .pp_content,

div.dark_rounded .pp_bottom .pp_middle {

  background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat;

}

div.dark_rounded .currentTextHolder,

div.dark_square .currentTextHolder {

  color: #c4c4c4;

}

div.dark_rounded #pp_full_res .pp_inline,

div.dark_square #pp_full_res .pp_inline {

  color: #fff;

}

.pp_top,

.pp_bottom {

  height: 20px;

  position: relative;

}

* html .pp_top,

* html .pp_bottom {

  padding: 0 20px;

}

.pp_top .pp_left,

.pp_bottom .pp_left {

  height: 20px;

  left: 0;

  position: absolute;

  width: 20px;

}

.pp_top .pp_middle,

.pp_bottom .pp_middle {

  height: 20px;

  left: 20px;

  position: absolute;

  right: 20px;

}

* html .pp_top .pp_middle,

* html .pp_bottom .pp_middle {

  left: 0;

  position: static;

}

.pp_top .pp_right,

.pp_bottom .pp_right {

  height: 20px;

  left: auto;

  position: absolute;

  right: 0;

  top: 0;

  width: 20px;

}

.pp_fade,

.pp_gallery li.default a img {

  display: none;

}

.zt-image-frame {

  box-shadow: 0 0 4px 1px #ECECEC;

  background-color: #F0F0F0;

  border: 1px solid #FFFFFF;

  display: inline-block;

  padding: 4px;

  margin: 0 30px 20px;

}

div.shortcode-list ul {

  list-style: none;

  margin-left: 0px;

  margin-bottom: 10px;

}

div.shortcode-list li {

  padding: 2px 0px 2px 25px;

  border: 0px;

}

div.shortcode-list-arrow li {

  background: url('../images/list/arrow.png') no-repeat;

}

div.shortcode-list-arrow2 li {

  background: url('../images/list/arrow2.png') no-repeat;

}

div.shortcode-list-arrow3 li {

  background: url('../images/list/arrow3.png') no-repeat;

}

div.shortcode-list-bullet li {

  background: url('../images/list/bullet.png') no-repeat;

}

div.shortcode-list-bullet2 li {

  background: url('../images/list/bullet2.png') no-repeat;

}

div.shortcode-list-bullet3 li {

  background: url('../images/list/bullet3.png') no-repeat;

}

div.shortcode-list-check li {

  background: url('../images/list/check.png') no-repeat;

}

div.shortcode-list-check2 li {

  background: url('../images/list/check2.png') no-repeat;

}

div.shortcode-list-check3 li {

  background: url('../images/list/check3.png') no-repeat;

}

div.shortcode-list-delete li {

  background: url('../images/list/delete.png') no-repeat;

}

div.shortcode-list-delete2 li {

  background: url('../images/list/delete2.png') no-repeat;

}

div.shortcode-list-delete3 li {

  background: url('../images/list/delete3.png') no-repeat;

}

div.message-box-wrapper {

  border: 1px solid;

  padding: 20px;

  margin-bottom: 20px;

}

div.message-box-head {

  margin-top: 2px;

  width: 100%;

  clear: both;

}

div.message-box-title {

  font-weight: bold;

  font-size: 120%;

  width: 95%;

}

div.message-box-close {

  float: right;

  width: 5%;

  margin: -20px -45px 0 0;

}

div.message-box-content {

  margin-top: 12px;

}

div.message-box-wrapper.red {

  background-color: #ffdcdd;

  border-color: #e9b9bb;

  color: #713a3c;

}

div.message-box-wrapper.red

.message-box-title {

  color: #8d4345;

}

div.message-box-wrapper.yellow {

  background-color: #ffffe0;

  border-color: #e1db8b;

  color: #4d4d39;

}

div.message-box-wrapper.yellow

.message-box-title {

  color: #737357;

}

div.message-box-wrapper.blue {

  background-color: #c2e1ee;

  border-color: #8ec3d9;

  color: #3d5058;

}

div.message-box-wrapper.blue

.message-box-title {

  color: #475d66;

}

div.message-box-wrapper.green {

  background-color: #e1ffd9;

  border-color: #badeb1;

  color: #435b3d;

}

div.message-box-wrapper.green .message-box-title {

  color: #526d4b;

}

div.shortcode-social {

  float: left;

  opacity: 0.5;

  margin-right: 12px;

}

div.shortcode-social:hover {

  opacity: 1;

}

ul.tabs {

  display: block;

  margin: 0;

  padding: 0;

  height: 40px;

  list-style: none;

}

ul.tabs li {

  display: block;

  width: auto;

  height: 40px;

  padding: 0;

  float: left;

  margin: 0 10px 0;

  cursor: pointer;

}

ul.tabs li a {

  display: block;

  text-decoration: none;

  width: auto;

  height: 39px;

  padding: 0px 20px;

  line-height: 39px;

  border: 1px solid #edecec;

  margin: 0;

  background: #f8f8f8;

  color: #727272;

  font-size: 110%;

  text-transform: uppercase;

}

ul.tabs li a.active {

  background: #ffffff !important;

  height: 40px;

  position: relative;

  margin: 0;

  color: #0E74BC;

  border-width: 1px 1px 0 1px;

  border-bottom: 1px solid #fff ff !important;

}

ul.tabs-content {

  margin: 0 0 20px;

  padding: 20px;

  display: block;

  list-style: none;

  border: 1px solid #edecec;

  background: #ffffff;

}

ul.tabs-content > li {

  display: none;

  background: 0;

  padding: 0;

}

ul.tabs-content > li.active {

  display: block;

}

ul.tabs:before,

ul.tabs:after {

  content: '\0020';

  display: block;

  overflow: hidden;

  visibility: hidden;

  width: 0;

  height: 0;

}

ul.tabs:after {

  clear: both;

}

ul.tabs {

  zoom: 1;

}

h3.testimonial-header-title {

  font-size: 150%;

  margin-bottom: 25px;

  margin-left: 10px;

}

div.testimonial-no-header {

  padding-top: 47px;

}

div.testimonial-icon {

  background: url("../images/quotes-18px.png") repeat scroll 0 0 transparent;

  width: 18px;

  height: 18px;

  float: left;

  margin-top: 2px;

  margin-right: 15px;

  margin-left: 1px;

}

div.testimonial-author {

  margin-top: 20px;

  margin-bottom: 20px;

  padding-bottom: 10px;

  margin-right: 3px;

  font-weight: bold;

  font-size: 110%;

  text-align: right;

  border-bottom: 1px solid #cecece;

}

.testimonial-author-name {

  color: #494949 !important;

}

.testimonial-author-position {

  color: #8D8D8D !important;

}

h3.toggle-box-header-title {

  font-size: 150%;

  margin-bottom: 25px;

}

ul.zt-toggle-box {

  margin-left: 0px;

}

ul.zt-toggle-box li {

  background: none repeat scroll 0 center transparent;

  border-bottom: 1px solid #ECECEC;

  list-style: none outside none;

  margin-bottom: 10px;

  padding: 0 0 10px;

}

h3.toggle-box-head {

  cursor: pointer;

  font-size: 140%;

  line-height: 25px;

  padding: 0;

}

div.toggle-box-content {

  padding: 10px 0px 10px 37px;

  overflow: hidden;

}

span.toggle-box-head-image {

  width: 24px;

  height: 24px;

  float: left;

  margin-right: 13px;

  cursor: pointer;

}

div.toggle-box-head p {

  margin-bottom: 0;

}

h3.toggle-box-head span.accordion-head-image.active,

h3.toggle-box-head span.toggle-box-head-image.active {

  background: url("../images/minus-24px.png") repeat scroll 0 0 transparent;

}

span.accordion-head-image,

span.toggle-box-head-image {

  background: url("../images/plus-24px.png") repeat scroll 0 0 transparent;

}

div.divider {

  border-bottom: 1px solid #ECECEC;

}

div.divider {

  margin-top: 8px;

  position: relative;

}

div.scroll-top {

  cursor: pointer;

  font-size: 90%;

  position: absolute;

  right: 2px;

  top: -19px;

}

.scroll-top {

  color: #7C7C7C !important;

}

.pricing_box {

  float: left;

  text-align: center;

  padding: 0 0 10px 0;

  border: 1px solid #ccc;

  background: #fff;

  font-family: inherit;

  margin: 20px 0;

  -webkit-transition: box-shadow 0.25s ease 0s;

  -moz-transition: box-shadow 0.25s ease 0s;

  -o-transition: box-shadow 0.25s ease 0s;

}

.pricing_box .header {

  border-bottom: 1px solid #ccc;

  margin: 0 0 20px 0;

  font-weight: bold;

}

.pricing_box a.button {

  cursor: pointer;

  display: inline-block;

  font-weight: normal;

  margin-right: 5px;

  outline: medium none;

  text-align: center;

  text-decoration: none;

  text-shadow: 0 0 1px rgba(0,0,0,0.7);

  padding: 0.3em 2em;

  font-size: 95%;

  border: 1px solid #E73D26;

  font-family: inherit;

  background: url("../images/btn_bg.png") repeat-x scroll center top #E73D26 !important;

  color: #FFFFFF !important;

  line-height: 2;

}

.pricing_box .header {

  width: 100%;

  height: 42px;

  text-align: center;

  background: #f9f9f9;

}

.pricing_box .header span {

  position: relative;

  top: 10px;

  padding-bottom: 7px;

  font-size: 14px;

}

.pricing_box.large .header span {

  top: 15px;

  font-size: 14px;

}

.pricing_box h2 {

  font-size: 44px;

  padding-top: 5px;

}

.pricing_box ul {

  margin: 10px 10% 25px 20%;

  text-align: left;

  margin: auto;

  margin-top: 10px;

  margin-bottom: 35px;

  width: 85%;

  list-style: none;

}

.pricing_box ul li {

  border-bottom: 1px solid #ccc;

  padding: 10px 0 10px 0;

  text-align: center;

  background: 0;

}

.pricing_box.featured {

  margin-top: -0.5%;

  padding-bottom: 40px;

  -webkit-transition: box-shadow 0.25s ease 0s;

  -moz-transition: box-shadow 0.25s ease 0s;

  -o-transition: box-shadow 0.25s ease 0s;

  -webkit-box-shadow: 5px 0 30px rgba(0,0,0,0.5);

  -moz-box-shadow: 5px 0 30px rgba(0,0,0,0.5);

  box-shadow: 5px 0 30px rgba(0,0,0,0.5);

}

.pricing_box:hover {

  -webkit-transition: box-shadow 0.25s ease 0s;

  -moz-transition: box-shadow 0.25s ease 0s;

  -o-transition: box-shadow 0.25s ease 0s;

  -webkit-box-shadow: 5px 0 30px rgba(0,0,0,0.5);

  -moz-box-shadow: 5px 0 30px rgba(0,0,0,0.5);

  box-shadow: 5px 0 30px rgba(0,0,0,0.5);

}

.pricing_box.large .header {

  height: 51px;

  background: #323232;

  color: #fff;

}

.pricing_wrap_3 .pricing_box {

  width: 32.5%;

}

.pricing_wrap_4 .pricing_box {

  width: 24.5%;

  font-size: 1em;

}

.pricing_box.four h2 {

  font-size: 3em;

}

.pricing_box.five {

  width: 19.5%;

  font-size: 0.9em;

}

.pricing_box.five h2 {

  font-size: 1.9em;

}

.pricing_box.five.large {

  margin-top: -2.5%;

}

.pricing_box.five .header span {

  font-size: 1.3em;

  top: 11px;

}

.pricing_box.five.large .header span {

  font-size: 1.5em;

  top: 13px;

}

.shortcode-clear {

  width: 100%;

  clear: both;

}

#editor-xtd-buttons {

  -moz-border-bottom-colors: none;

  -moz-border-image: none;

  -moz-border-left-colors: none;

  -moz-border-right-colors: none;

  -moz-border-top-colors: none;

  background: none repeat scroll 0 0 #F0F0EE;

  border-style: none solid solid;

  border-width: 0 1px 1px;

  border-color: #CCCCCC;

  height: 50px;

  margin: 0px;

  padding: 4px;

}

.button2-left {

  background: url("../images/j_button2_left.png") no-repeat scroll 0 0 transparent !important;

}

ol.linenums {

  list-style: decimal outside none;

}

#editor-xtd-buttons div.button2-left {

  margin: 0 5px 5px 0 !important;

}

.button2-left .bsc-accordion {

  background: url(../images/accordion.png) 100% 0 no-repeat;

}

.button2-left .bsc-blockquote {

  background: url(../images/blockquote.png) 100% 0 no-repeat;

}

.button2-left .bsc-buttons {

  background: url(../images/buttons.png) 100% 0 no-repeat;

}

.button2-left .bsc-column {

  background: url(../images/column.png) 100% 0 no-repeat;

}

.button2-left .bsc-dropcap {

  background: url(../images/dropcap.png) 100% 0 no-repeat;

}

.button2-left .bsc-gallery {

  background: url(../images/gallery.png) 100% 0 no-repeat;

}

.button2-left .bsc-message {

  background: url(../images/message.png) 100% 0 no-repeat;

}

.button2-left .bsc-social {

  background: url(../images/social.png) 100% 0 no-repeat;

}

.button2-left .bsc-tabs {

  background: url(../images/tabs.png) 100% 0 no-repeat;

}

.button2-left .bsc-testimonial {

  background: url(../images/testimonial.png) 100% 0 no-repeat;

}

.button2-left .bsc-toggle {

  background: url(../images/toggle.png) 100% 0 no-repeat;

}

.button2-left .bsc-vimeo {

  background: url(../images/vimeo.png) 100% 0 no-repeat;

}

.button2-left .bsc-youtube {

  background: url(../images/youtube.png) 100% 0 no-repeat;

}

.button2-left .bsc-divider {

  background: url(../images/divider.png) 100% 0 no-repeat;

}

.button2-left .bsc-spacer {

  background: url(../images/spacer.png) 100% 0 no-repeat;

}

.button2-left .bsc-googlemap {

  background: url(../images/google_map.png) 100% 0 no-repeat;

}

.button2-left .bsc-highlighter {

  background: url(../images/highlighter.png) 100% 0 no-repeat;

}

.button2-left .bsc-lightbox {

  background: url(../images/lightbox.png) 100% 0 no-repeat;

}

.button2-left .bsc-list {

  background: url(../images/list.png) 100% 0 no-repeat;

}

.button2-left .bsc-pricing {

  background: url(../images/pricing.png) 100% 0 no-repeat;

}

.pln {

  color: #000;

}

@media screen {

  .str {

    color: #080;

  }

  .kwd {

    color: #008;

  }

  .com {

    color: #800;

  }

  .typ {

    color: #606;

  }

  .lit {

    color: #066;

  }

  .pun,

  .opn,

  .clo {

    color: #660;

  }

  .tag {

    color: #008;

  }

  .atn {

    color: #606;

  }

  .atv {

    color: #080;

  }

  .dec,

  .var {

    color: #606;

  }

  .fun {

    color: red;

  }

}

@media print,projection {

  .str {

    color: #060;

  }

  .kwd {

    color: #006;

    font-weight: bold;

  }

  .com {

    color: #600;

    font-style: italic;

  }

  .typ {

    color: #404;

    font-weight: bold;

  }

  .lit {

    color: #044;

  }

  .pun,

  .opn,

  .clo {

    color: #440;

  }

  .tag {

    color: #006;

    font-weight: bold;

  }

  .atn {

    color: #404;

  }

  .atv {

    color: #060;

  }

}

pre.prettyprint {

  background: none repeat scroll 0 0 #FFFFFF;

  border: 1px solid #DDDDDD;

  border-radius: 0 0 0 0;

  padding: 2px;

  clear: both;

}

ol.linenums {

  margin-top: 0;

  margin-bottom: 0;

}

ol.linenums  li {

  margin: 0 0 0 40px;

}

li.L1,

li.L3,

li.L5,

li.L7,

li.L9 {

  background: #eee;

}

div.zo2-gmap img {

  max-width: inherit !important;

}

.floating .zo2-social-box .zo2-social-inner {

  padding: 2px;

  text-align: center;

}

.socialbox-right {

  float: right;

  margin-left: 5px;

}

[class^="socialbox-"],

[class*="socialbox-"] {

  width: auto;

  height: auto;

}

.socialbox-left {

  float: left;

  margin-left: -87px;

}

.horizontal .zo2-social-box {

  display: inline-block;

  margin: 4px;

}

.style-switcher {

  -moz-box-sizing: content-box;

  background: #738E96;

  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);

  display: block;

  float: left;

  font-size: 14px;

  font-weight: bold;

  height: auto;

  left: -230px;

  line-height: 30px;

  margin-bottom: 0;

  position: fixed;

  top: 80px;

  width: 230px;

  z-index: 9999;

}

.style-switcher .switch-container {

  background-color: #fff;

  height: auto;

  width: 230px;

  padding: 7px 15px;

}

.style-switcher ul {

  list-style-type: none;

  margin: 0;

  padding: 0;

}

.style-switcher ul.options {

  border-bottom: 1px solid #ccc;

  height: auto;

  margin-bottom: 15px;

  overflow: hidden;

  padding: 0 15px 10px;

}

.style-switcher ul.options li {

  display: inline;

  float: left;

  margin-bottom: 0;

  text-align: center;

}

.style-switcher ul.options.layout-select {

  width: auto;

}

.style-switcher ul.options.layout-select li:first-child {

  margin-right: 10px;

}

.style-switcher ul.options.layout-select li.selected {

  background: #8DC63F;

}

.style-switcher ul.options.layout-select li a {

  color: #FFFFFF;

  display: block;

  padding: 4px;

  text-decoration: none;

}

.style-switcher ul.options.layout-select li a img {

  width: auto;

  height: 50px;

}

.style-switcher ul.options.color-select li,

.style-switcher ul.options.background-select li {

  padding: 2px;

  width: 27px;

  margin: 4px;

  border: solid #808080 1px;

}

.style-switcher ul.options.color-select li.selected,

.style-switcher ul.options.background-select li.selected {

  background: #8DC63F;

}

.style-switcher ul.options.color-select li a,

.style-switcher ul.options.background-select li a {

  display: block;

  height: 27px;

  width: 100%;

}

.style-switcher ul.options.color-select li img,

.style-switcher ul.options.background-select li img {

  display: block;

  height: 27px;

  width: 100%;

}

.style-switcher h5 {

  display: inline-block;

  font-size: 12px;

  color: #000000;

}

.style-switcher h4 {

  background: none repeat scroll 0 0 #FFFFFF;

  border-radius: 0 3px 3px 0;

  box-shadow: 0 0 5px rgba(0,0,0,0.2);

  font-size: 14px;

  font-weight: bold;

  float: left;

  height: auto;

  line-height: 30px;

  margin: 0 -40px 15px 0;

  padding: 7px 10px;

  position: relative;

  text-align: left;

  text-transform: uppercase;

  width: 270px;

  display: inline-block;

  color: #000000;

}

.style-switcher h4 .style-switcher-icon {

  float: right;

  font-size: 26px;

  text-align: right;

  text-decoration: none;

  display: block;

  cursor: pointer;

}
@media only screen and (max-width:736px){

.navbar-nav {
  margin: 7.5px 0;
  width: 100%;
}
nav.zo2-menu .navbar-nav > li {
  font-size: 133%;
  line-height: 16px;
  text-align: center;
  width: 104.7%;
}
}